:root {
  --color-white: #ffffff;
  --color-white-transparent: rgba(255,255,255, 0.3);
  --color-black: #000000;
  --color-black-transparent: rgba(0,0,0, 0.3);
  --color-brown: #766357;
  --color-gray-brown: #604E43;
  --color-brownish-grey: #503E33;
  --color-light-blue: #81B3D2;
  --color-dark-blue: #669EC0;
  --color-deep-blue:  #5496BD;
  --color-gray: #F2F2F2;
  --color-pale-gray: #BDBBBC;
  --color-light-gray: #eeeeee;
  --color-linen: #ebebeb;
}

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-black);
  text-transform: uppercase;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  font: inherit;
  text-align: center;
  color: var(--color-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.main-navigation {
  display: grid;
}

.main-header-logo {
  order: 1;
  justify-self: center;
}

.site-navigation-wrapper {
  width: 1054px;
  margin: 0 auto;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  line-height: 26px;
}

.site-navigation-link {
  color: var(--color-black);
}

.navigation-link-current {
  color: var(--color-brown);
}

.site-navigation-link:hover {
  color: var(--color-light-blue);
}

.site-navigation-link:active {
  color: var(--color-black-transparent);
}

.site-navigation-link:focus {
  color: var(--color-brown);
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1220px;
}

.intro {
  height: 509px;
  background: url(/img/intro-welcome.png) no-repeat 50% 50%, url(/img/intro-background.jpg) no-repeat 50% 50%;
}

.features-intro-heading,
.features-intro-desc {
  text-align: center;
}

.features-heading {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.features-list,
.features-inner-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 586px 256px 256px;
}

.features-item:first-child {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px;
}

.features-card-first {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.features-bg-first {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  background: url(/img/features-background-1.jpg)
}

.features-inner-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.features-item:nth-child(2) {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
}

.features-bg-second {
  grid-column: 1 / 3;
  background: url(/img/features-background-2.jpg);
}

.features-item,
.features-inner-item {
  text-align: center;
}

.features-inner-item {
  background-color: var(--color-white);
  color: var(--color-black);
}

.features-item:nth-child(-n+2) {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

.features-item:nth-child(n+3) {
  background-color: var(--color-linen);
}

.offer-container {
  text-align: center;
  line-height: 24px;
}

.offer-heading {
  font-size: 30px;
  font-weight: 700;
}

.search-hotels-btn {
  width: 568px;
  padding: 30px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: var(--color-brown);
  color: var(--color-white);
  text-align: center;
}

.search-hotels-btn:hover {
  background-color: var(--color-gray-brown);
}

.search-hotels-btn:active {
  background-color: var(--color-brownish-grey);
  color: var(--color-white-transparent);
}

.hotel-search-form {
  width: 568px;
  padding: 55px;
  line-height: 26px;
  font-weight: 700;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.hotel-search-form input {
  font: inherit;
  background-color: var(--color-gray);
}

.hotel-search-form input::placeholder {
  color: var(--color-black);
}

.hotel-search-form input:hover {
  background-color: var(--color-linen);
}

.hotel-search-form input:focus {
  background-color: var(--color-white);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.hotel-search-btn {
  font-size: 21px;
  font-weight: 700;
  background-color: var(--color-light-blue);
}

.hotel-search-btn:hover {
  background-color: var(--color-dark-blue);
}

.hotel-search-btn:active,
.hotel-search-btn:focus {
  outline: none;
}

.hotel-search-btn:active {
  background-color: var(--color-deep-blue);
  color: var(--color-white-transparent);
}

.main-footer {
  background-color: var(--color-white);
  opacity: 0.9;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts-link {
  font-size: 21px;
  font-weight: 700;
  color: var(--color-black);
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-btn {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--color-light-blue);
}

.footer-social-btn:hover {
  background-color: var(--color-dark-blue);
}

.footer-social-btn:active {
  background-color: var(--color-deep-blue);
}


.footer-social-btn:active path {
  fill: var(--color-white-transparent);
}

.footer-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.footer-copyright-link:hover path {
  fill: var(--color-light-blue);
}

.footer-copyright-link:active path {
  fill: var(--color-pale-gray);
}

.hotels-filters {
  background-color: var(--color-light-blue);
}

.hotels-filters-form {
  color: var(--color-white);
}

.hotels-filters-group {
  border: none;
}

.hotels-filters-subtitle {
  font-size: 16px;
  font-weight: 700;
}

.hotels-filters-list,
.sort-by-list,
.hotels-cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-filters-show-btn {
  border: 2px solid var(--color-white);
  background: transparent;
}


.hotels-filters-show-btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.sort-search-results {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort-by {
  font-size: 12px;
  line-height: 18px;
}

.sort-by-link {
  color: var(--color-black-transparent);
  border-bottom: 1px dashed var(--color-light-blue);
}

.sort-by-link:hover {
  color: var(--color-light-blue);
}

.sort-by-link:active {
  color: var(--color-black);
  border: none;
}

.sort-by-link:focus {
  color: var(--color-light-blue);
  border: none;
}

.hotels-cards-heading {
  color: var(--color-black);
}

.hotels-cards-heading:hover {
  color: var(--color-light-blue);
}

.hotels-cards-heading:active {
  color: var(--color-black-transparent);
}

.hotels-cards-details {
  background-color: var(--color-light-blue);
}

.hotels-cards-btn {
  font-weight: 700;
}

.hotels-cards-booking-btn {
  background-color: var(--color-brown);
}

.hotels-cards-booking-btn:hover {
  background-color: var(--color-gray-brown);
}

.hotels-cards-booking-btn:active {
  background-color: var(--color-brownish-grey);
  color: var(--color-white-transparent);
}

.hotels-cards-rating {
  background-color: var(--color-gray);
}


